# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Node
node_modules/

# VS Code
.vscode/

# Build
dist/
build/

# Logs
*.log

# Local archives
*.zip

# OS
.DS_Store
Thumbs.db

__pycache__/
*.pyc

notes.txt
